* {
  box-sizing: border-box;
}

.login-container {
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-box {
  background-color: white;
  height: 40vh;
  width: 90vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.login-title {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 8vw;
  color: rgb(0, 79, 0);
  text-align: center;
  margin-top: 7%;
}

.login-body {
  padding: 2vh;
  height: 100%;
  font-size: 4.5vw;
  color: rgb(0, 79, 0);
  display: flex;
  flex-direction: column;
}

.login-text-boxes {
  background-color: white;
  outline: none;
  border: 1px solid rgb(156, 181, 159);
  color: black;
  border-radius: 10px;
  height: 5vh;
  font-size: 100%;
  padding: 0vh 1vh;
}

.login-buttons {
  margin-top: 2vh;
  width: 100%;
  height: 6vh;
  background-color: rgb(0, 79, 0);
}

.login-buttons:focus {
  outline: none;
}

.login-buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3vw;
}

.switch-login-signup {
  margin-top: 1.3vh;
  font-size: 1.6vh;
}

.logo-container {
  position: absolute;
  top: 0vh;
  padding: 10vh 25vw;
}
